.heading{
    font-size: 33px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px darkcyan;

}

.note{
    font-size: 15px;
    color: darkcyan;
}

.copy_right_footer{
    position: fixed;
    color: darkcyan;
    bottom: 0;
    width: 100%;
    background-color: lightsalmon;
    line-height: 3;
    text-align: center;
}
canvas{
    background-color: white;
    border-radius: 20px;
    border: 5px solid lightsalmon;
    box-shadow: 5px 5px 5px grey;
}
#font-size{
    font-size: 15px;
    color: darkcyan;
}